
  
/* Mobile-friendly styles */
    body {
      font-size: 14px;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }


    .topImg {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
   
 



/* scroll animation */

.reveal{
  position: relative;
  transform: translateY(110px);
  opacity: 0;
  transition: 2s all ease;
}
  
.reveal1{
    position: relative;
    transform: translateY(160px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal2{
    position: relative;
    transform: translateY(180px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal1.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal2.active{
  transform: translateY(0);
  opacity: 1;
}

.brown { color: #0095ee; }

/* resize the image*/
.size {
  width: 24%;
  height: auto;

}


/* footer */

footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footerUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerList {
  display: flex;
  padding: 5px;
  margin: 0 10px; /* Add some space between each icon if needed */

}

.footerA {
  color: #000000;
  text-decoration: none;
}

/* CSS to center the icons */
.icons {
  display: flex;
  justify-content: center; /* Horizontally center the icons */
  align-items: center; /* Vertically center the icons */
}


.icon-pics {
  max-width: 3rem; /* Ensure the images don't exceed their container */
}

