
  
/* Mobile-friendly styles */
    body {
      font-size: 14px;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }


    .topImg {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
   
 
.hidden {
  opacity: 0;
}


/* scroll animation */

.reveal{
  position: relative;
  transform: translateY(110px);
  opacity: 0;
  transition: 2s all ease;
}
  
.reveal1{
    position: relative;
    transform: translateY(160px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal2{
    position: relative;
    transform: translateY(180px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal1.active{
  transform: translateY(0);
  opacity: 1;
}

.reveal2.active{
  transform: translateY(0);
  opacity: 1;
}

.brown { color: #0095ee; }

/* resize the image*/
.size {
  width: 24%;
  height: auto;

}


/* footer */

footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 0;
  font-size: 14px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footerUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footerList {
  display: flex;
  padding: 5px;
  margin: 0 10px; /* Add some space between each icon if needed */

}

.footerA {
  color: #000000;
  text-decoration: none;
}

/* Centering the container */
.container1 {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

/* Styling the unordered list */
.icons {
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
  display: flex; /* Creates a flex container */
  justify-content: center; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  flex-wrap: nowrap; /* Prevents items from wrapping */
}

/* Styling each list item */
.footerList1 {
  margin: 5px; /* Adds margin for spacing between icons */
}

/* Styling the icons */
.icon-pics {
  width: auto; /* Allows the width to adjust based on the content */
  height: auto; /* Keeps the aspect ratio of the image */
  max-height: 50px; /* Maximum height of each icon, adjust as needed */
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
  .icon-pics {
      max-height: 30px; /* Smaller icons on smaller screens */
  }
}
